@import "tailwindcss";

:root {
    --primary-bg: #151515;
    --secondary-bg: #1f1f1f;
    --primary-color: #ffffff;
    --primary-text: #fff;
    --x-padding: 2rem;
    --navbar-h: 4rem;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.design {
    background-color: #000000;
    opacity: 1;
    background-image: radial-gradient(#1b1b1b 1.8px, #000000 1.8px);
    background-size: 36px 36px;
}
